body {
    background-color: #5cdb95;
    font-family: monospace;
    color: #05386b;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
header {
    display: flex;
    flex-direction: row;
    background-color: #05386b;
    color: #edf5e1;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: #05386b;
    color: #edf5e1;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}
.title {
    font-size: 54px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.stat {
    height: 150px;
    border: 3px solid #379683;
    border-radius: 10px;
}
.terminal {
    width: 100%;
    border: 3px solid #379683;
    height: 200px;
}
.container {
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
